.photo {
  margin-bottom: 34px;
}

.photo__container {
  width: 141px;
  height: 141px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}

.photo_blog {
  margin-bottom: 0;

  .photo__container {
    margin: 0 auto;
  }
}
.photo__img {
  max-width: 100%;
}