.text__name {
  color: $color-2;
  font-family: $regular;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  margin-bottom: 9px;
}
.text__subname {
  opacity: 0.8;
  color: $color-2;
  font-family: $light;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}