if homePage
    header.header-home
        .container
            a(href='#').btn__admin Авторизоваться

if otherPage
    header.header-about
        .container
            include content/elems/social
            a(href='#').header-about__link
                span.header-about__line
                span.header-about__line
                span.header-about__line

