//colors
$color-1: rgba(18, 38, 32, 0.6);
$color-2: #fff;
$color-3: #4e8839;
$color-4: rgba(255, 255, 255, 0.5);
$color-5: rgba(222, 227, 231, 0.5);
$color-6: #6c9c5a;
$color-7: rgba(255, 255, 255, 0.12);
$color-8: #ebefe2;
$color-9: #f4f5f0;
$color-10: rgba(255, 255, 255, 0.7);
$color-11: rgba(147, 196, 46, 0.1);
$color-12: #373e42;
$color-13: #566358;
$color-14: rgba(108, 156, 90, 0.85);
$color-15: rgba(55, 62, 66, 0.85);
$color-16: rgba(255, 255, 255, 0.2);
$color-17: #dfddd7;
$color-18: rgba(244, 245, 240, 0.85);

//fonts
$regular: 'robotoregular';
$medium: 'robotomedium';
$light: 'robotolight';
$bold: 'robotobold';
$italic: 'robotoitalic';
$bold-italic: 'robotobold_italic';
$light-italic: 'robotolight_italic';
$medium-italic: 'robotomedium_italic';
$sansus: 'sansus_webissimoregular';