//colors
$color-1: rgba(18, 38, 32, 0.6);
$color-2: #fff;
$color-3: #4e8839;
$color-4: rgba(255, 255, 255, 0.5);
$color-5: rgba(222, 227, 231, 0.5);
$color-6: #6c9c5a;

//fonts
$regular: 'robotoregular';
$medium: 'robotomedium';
$light: 'robotolight';
$bold: 'robotobold';
$italic: 'robotoitalic';
$bold-italic: 'robotobold_italic';
$light-italic: 'robotolight_italic';
$medium-italic: 'robotomedium_italic';