.social {
  list-style: none;
  cursor: default;
}

.social_home {
  text-align: center;

  .social__icon {
    fill: $color-4;
    transition: fill 0.2s;

    &:hover {
      fill: $color-3;
    }
  }
}

.social_header {
  float: left;

  .social__icon {
    fill: $color-2;
    transition: fill 0.2s;

    &:hover {
      fill: $color-6;
    }
  }
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  text-decoration: none;
}

.social__icon_vk {
  width: 31px;
}

.social__icon_github {
  width: 26px;
}

.social__icon_linkedin {
  width: 24px;
}