section.about-section
    .about-section__about-me
        .about-section__container.about-section__container_left
            .about-section__cell1
                h1.text__page-title.text__page-title_about Обо мне
                    svg.text__icon.text__icon_about(viewBox="0 0 29 10" preserveAspectRatio='none')
                        use(xlink:href='./assets/img/sprite.svg#about')
            .about-section__cell2
                .about-section__photo
                    img(src='./assets/img/photo/test-photo.png').about-section__img
                h3.text__title-line Кто я
                p.text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

    .about-section__skills
        .about-section__container.about-section__container_right
            h3.text__title-line Чем я могу быть вам полезен
            p.text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            span.text__title.text__title_about Frontend

            ul.skills
                li.skills__item
                    span.skills__text HTML5
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text CSS3
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text JavaScript & jQuery
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-70(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')

            span.text__title.text__title_about Backend

            ul.skills
                li.skills__item
                    span.skills__text PHP
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-50(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text mySQL
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-50(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text Node.js & npm
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-60(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text Mongo.db
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-0(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')

            span.text__title.text__title_about WorkFlow

            ul.skills
                li.skills__item
                    span.skills__text Git
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-65(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text Gulp
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-70(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                li.skills__item
                    span.skills__text Bower
                    svg.circles(viewbox='0 0 110 110')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-90(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')