.contacts
    .text__title-line Контакты
    ul.contacts__items
        li.contacts__item
            a(href='').contacts__link
                svg.contacts__icon.contacts__icon_skype(viewBox="0 0 10 10" preserveAspectRatio='none')
                    use(xlink:href='./assets/img/sprite.svg#skype')
                span.contacts__text skype_test
        li.contacts__item
            a(href='').contacts__link
                svg.contacts__icon.contacts__icon_envelope2(viewBox="0 0 10 10" preserveAspectRatio='none')
                    use(xlink:href='./assets/img/sprite.svg#envelope2')
                span.contacts__text test@mail.com
        li.contacts__item
            a(href='').contacts__link
                svg.contacts__icon.contacts__icon_phone(viewBox="0 0 10 10" preserveAspectRatio='none')
                    use(xlink:href='./assets/img/sprite.svg#phone')
                span.contacts__text +8 044 111 11 11
        li.contacts__item
            a(href='').contacts__link
                svg.contacts__icon.contacts__icon_marker(viewBox="0 0 10 10" preserveAspectRatio='none')
                    use(xlink:href='./assets/img/sprite.svg#marker')
                span.contacts__text Киев, Украина