.photo
    .photo__container
        img.photo__img(src='./assets/img/photo/test-img.png' alt='Александр Кравченко')
    .text__name Александр Кравченко
    .text__subname Личный сайт веб разработчика

