extends ../_template

block variables
    - var title = 'Portfolio | Blog'

block css
    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/other.css')

block content
    - var otherPage = true
    - var blogPage = true

    .wrapper.about-page
        .content
            include ../common/content/elems/header-section
            include ../common/content/elems/blog-section
        include ../common/_footer

block js
    script(src='/assets/js/app.js' defer)
