extends ../_template

block variables
  - var title = 'Home page'

block css
  link(rel='stylesheet' href='/assets/css/foundation.css')
  link(rel='stylesheet' href='/assets/css/app.css')

block content
  .content
    include ../common/_header
    include ../common/content/_index
  include ../common/_footer

block js
  script(src='/assets/js/app.js' defer)